.bdr{
    height:35px;
    background-color: blueviolet;
}
.bdr1{
    height: 35px;
    background-color: aqua;
}
.dbox{

    height: 35px;
    background-color: bisque;
    border: 2px solid blue;
}
.cbox{
    border: 3px solid;
    
}
.arow{
    border: 10px solid yellow;
}
.adiv{
    height: 60px;
    background-color: red;
}
.bdiv{
    height: 60px;
    background-color: aqua;
}
.cdiv{
    height: 60px;
    background-color: green;
}
.ddiv{
    height: 60px;
    background-color: blue;
}
.ediv{
    height: 60px;
    background-color: lavender;
}
.fdiv{
    height: 60px;
    background-color: lightcoral;
}