.bdr{
    height:35px;
    background-color: blueviolet;
}
.bdr1{
    height: 35px;
    background-color: aqua;
}
.dbox{

    height: 35px;
    background-color: bisque;
    border: 2px solid blue;
}
.cbox{
    border: 3px solid;
    
}